
body,
html {
  /* height:100%; */

  margin: 0px;
  padding: 5px;
  background: gray;
}

#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 60px;
}

#app header {
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

header h1 {
  grid-column: 1;
  text-align: center;
}

header ul {
  grid-column: 2;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: flex-end;

}

#app main {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
}

main .store-item{
  display: grid;
  border: 5px double black;
  background: white;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
  "img img img"
  "title title title"
  "desc desc desc"
  "span1 span2 span3";
}

.store-item img {
  grid-area: img;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
  justify-self: center;
  text-align: center;
  padding: 10px;
}

.store-item p:first-of-type {
  grid-area: title;
  height: fit-content;
  margin-block-end: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.store-item p:last-of-type {
  grid-area: desc;
  height: fit-content;
  margin-block-start: 0;
  padding-left: 5px;
  padding-right: 5px;
}

.store-item span:nth-child(4) {
  grid-area: span1;
  padding-left: 10px;
  padding-bottom: 5px;
}

.store-item span:nth-child(5) {
  grid-area: span2;
  padding-bottom: 5px;
}

.store-item span:nth-child(6) {
  grid-area: span3;
  padding-right: 10px;
  padding-bottom: 5px;
}

#app footer{
  grid-row: 3;
  justify-self: center;
  text-align: center;
}